<div data-dojo-type="dijit.layout.BorderContainer" class="${baseClass}Root">
	<div style="font-size:24px;padding-top:10px; vertical-align:text-top">
	<label>Showing PULAs Valid For: <span style="color:#F00"><b>JUNE 2013</b></span></label>
    </div>
    <div class="${baseClass}hr"><hr></div>
    <div class="${baseClass}MoDrop" style="padding-top:5px;" >
    	<div style="padding-left:5px; padding-right:5px;"><label>Select Application Month: </label><select style="width:200px" id="months" name="moSelect" data-dojo-type="dijit.form.FilteringSelect" data-dojo-props="style:'width:200px;'">
        <option value="jun13"> June 2013 </option>
        <option value="jul13"> July 2013 </option>
        <option value="aug13"> August 2013 </option>
        <option value="sep13"> September 2013 </option>
        <option value="oct13"> October 2013 </option>
        <option value="nov13"> November 2013 </option>
        </select></div>
    </div>
    <div class="${baseClass}AiDrop" style="clear:both; padding-top:5px;">
		<div style="padding-left:5px; padding-right:5px;"><label>Select Active Ingredient: </label><select style="width:200px" id="ais" name="aiSelect" data-dojo-type="dijit.form.FilteringSelect" data-dojo-props="style:'width:200px;'">
            <option value="24d"> All </option>
            <option value="24d"> 2,4-D </option>
            <option value="jun13"> Acephate </option>
            <option value="jun13"> Acid Copper Chromate (ACC) </option>
            <option value="jun13"> Alkaline Copper Quarterary </option>
            <option value="jun13"> Arsenic </option>
            <option value="jun13"> Bifenthrin </option>
            <option value="jun13"> Bis-(N-cyclohexyldiazeniumdioxy)-copper </option>
            <option value="jun13"> Boric Acid </option>
            <option value="jun13"> Capsaicin </option>
            <option value="jun13"> Chlorpyrifos </option>
            <option value="jun13"> Citronella </option>
     	</select></div>
    </div>       
</div>


